fastapi
uvicorn
yfinance
pandas
numpy
scipy
python-multipart
google-genai
Pillow
python-dotenv
pydantic
scikit-learn
joblib
networkx
plotly
schedule
python-louvain
pytz
requests
pyotp
smartapi-python
arch
statsmodels
kiteconnect
aiohttp
logzero
websocket-client
sqlalchemy
bcrypt
pyjwt
structlog
pywavelets
ta-lib

